<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Peito</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crossover Pegada Alta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/crossover_pegada.gif"></ion-img>
      <p>
        É um importante movimento do treino de peitoral. Neste sentido, 
        é importante entender qual é de fato o trabalho do Crossover nos músculos peitorais, 
        mais especificamente no <strong>peitoral maior</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Flexão</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/flexao.gif"></ion-img>
      <p>
        Um dos exercícios físicos funcionais mais populares. São ideais para o desenvolvimento dos 
        músculos do <strong>peito, ombros, braços e todo o tronco</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mergulho</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/mergulho.gif"></ion-img>
      <p>
        O mergulho, ou afundo, é um exercício físico utilizado principalmente no treinamento dos músculos 
      <strong>tríceps braquial e peitoral maior</strong> (principalmente a parte inferior), embora recrute também a 
        porção <strong>anterior do deltóide</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peck Deck</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/peck_deck.gif"></ion-img>
      <p>
        Um dos movimentos mais clássicos da musculação, o exercício feito no aparelho 
        peck deck, também conhecido como voador, pode fazer parte do treino de todos
        aqueles que buscam <strong>fortalecer a musculatura da região peitoral</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supino com Halteres</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/supino_halteres.gif"></ion-img>
      <p>
        Como trabalha de forma unilateral, ou seja, um lado do corpo de cada vez, o supino com 
        halteres permite que você corrija eventuais desequilíbrios musculares ou de força.
        Por isso, o treino com halteres favorece um <strong>corpo simétrico</strong>– tanto estéticamente, quanto de força.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supino Reto</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/supino_reto.gif"></ion-img>
      <p>
        Voltado principalmente para o treinamento dos <strong>músculos peitorais maiores</strong>, mas que também 
        envolve, <strong>como sinergistas, os músculos deltóide, serrátil anterior, coracobraquial e tríceps braquial</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>


<ion-button expand="block" color="primary" href="/midia">Voltar</ion-button>