<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Peito</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crossover Pegada Alta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/crossover_pegada.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Flexão</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/flexao.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mergulho</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/mergulho.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peck Deck</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/peck_deck.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supino Halteres</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/supino_halteres.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Supino Reto</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Peito/supino_reto.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>