<ion-header>
  <ion-toolbar>
    <ion-menu-button color="secondary" slot="start"></ion-menu-button>
    <ion-title>Aerobico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abdominal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/abdominal.gif"></ion-img>
      <p>
        É um dos mais conhecidos exercícios para desenvolvimento e <strong>fortalecimento da 
        musculatura abdominal</strong>, principalmente do <strong>músculo reto abdominal</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bicicleta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/bicicleta.gif"></ion-img>
      <p>
        A função da <strong>bike</strong> é promover um importante estímulo cardiovascular. 
        Consequentemente, com ela você pode <strong>diminuir a pressão arterial</strong>, melhorar 
        a saúde do coração e <strong>prevenir o organismo contra 
        problemas como trombose, infarto e AVC</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esteira</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/esteira.gif"></ion-img>
      <p>
        Correr na esteira da academia ou em casa é uma forma fácil e eficaz de fazer exercício 
        físico porque requer pouca preparação física e mantém os benefícios da corrida, como 
        aumento da <strong>resistência física, queima de gordura</strong> e desenvolvimento de vários grupos musculares
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jump</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/jump.gif"></ion-img>
      <p>
        Além de fortalecer a musculatura dos <strong>membros inferiores</strong>, como <strong>coxas e 
        panturrilhas</strong>, o Jump também está entre os ótimos exercícios para <strong>glúteos</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pular Corda</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/pular_corda.gif"></ion-img>
      <p>
        Pular corda <strong>emagrece, queima calorias e elimina a barriga esculpindo o corpo</strong>. Em apenas 
        30 minutos deste exercício é possível perder até 300 calorias e <strong>tonificar coxas, panturrilha, 
          bumbum e abdômen</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>


<ion-button expand="block" color="primary" href="/midia">Voltar</ion-button>
