<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aerobico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abdominal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/abdominal.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bicicleta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/bicicleta.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esteira</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/esteira.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jump</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/jump.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pular Corda</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Aerobico/pular_corda.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>