<ion-header>
  <ion-toolbar>
    <ion-menu-button color="secondary" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<!--        -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-button href="/perna"  color="primary" expand="block">Treino de Perna</ion-button>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>
        O treino de pernas exerce um papel fundamental no aumento da produção de testosterona 
        no nosso corpo. Este aumento natural propicia uma série de melhorias em seu corpo, 
        capazes de te transformar em um super-herói. <strong>Aumento da sua massa muscular, maior 
        queima de gordura, melhora seu desempenho na cama</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--    card    -->
  <ion-card>
    <ion-card-header>
      <ion-button href="/costas"  color="primary" expand="block">Treino de costas</ion-button>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>
        Um bom treino de costas oferece para além dos <strong>aspectos estéticos</strong>, um bom alicerce para o 
        desenvolvimento de outras musculaturas do corpo humano, assim como uma estabilidade central 
        capaz de <strong>prevenir lesões</strong> e de aumentar a performance global do indivíduo nas tarefas do dia-a-dia.
      </p>
    </ion-card-content>
  </ion-card>
  <!--    card    -->
  <ion-card>
    <ion-card-header>
      <ion-button href="/peito"  color="primary" expand="block">Treino de peito</ion-button>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>
        O que um treino correto de peitoral vai trazer de benefício é o aumento do tônus abaixo do 
        tecido gorduroso que forma o seio, o que dará mais sustentação a ele, além de um maior <strong>equilíbrio 
        corporal, melhorar a postura e prevenir possíveis dores nas costas ou pescoço</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--    card    -->
  <ion-card>
    <ion-card-header>
      <ion-button href="/aerobico"  color="primary" expand="block">Treino de aerobico</ion-button>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>
        <strong>Aumenta o fluxo sanguíneo para todas as partes do corpo</strong>. Fortalece os músculos, ajudando a 
        manter a <strong>mobilidade</strong> à medida que os anos vão passando. Pelo menos 30 minutos de exercício 
        aeróbico três vezes por semana ajuda a reduzir o <strong>declínio cognitivo</strong>. 
        <strong>Reduz a tensão, a ansiedade e promove o relaxamento</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--    card    -->
</ion-content>
