<ion-header>
  <ion-toolbar>
    <ion-menu-button color="secondary" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card-content>
  <ion-card-header class="ion-text-uppercase ion-text-center" color="primary">Perfil do usuario</ion-card-header>
    <ion-item>
      <ion-label>Nome do Usuário <strong>TESTE</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Idade do Usuário <strong>TESTE</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Peso do Usuário <strong>TESTE</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Altura do Usuário <strong>TESTE</strong></ion-label>
    </ion-item>
  </ion-card-content>
  

</ion-content>

<ion-button expand="block" color="primary">Editar Perfil</ion-button>