<ion-header>
  <ion-toolbar>
    <ion-menu-button color="secondary" slot="start"></ion-menu-button>
    <ion-title>Perna</ion-title>
  </ion-toolbar>
</ion-header>
<!--        -->
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agachamento</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/agachamento.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadeira Abdutora</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/cadeira _abdutora.gif"></ion-img>
      <p>
        Seu principal objetivo é de potencializar a mobilidade dos <strong>membros inferiores</strong>, 
        além de ajudar na coordenação motora e fortalecer os <strong>músculos do quadril</strong>, da coxa 
        e da região lombar.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadeira Adutora</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/cadeira_adutora.gif"></ion-img>
      <p>
        O fortalecimento desses músculos com a cadeira adutora ajuda a <strong>reduzir risco de 
        lesões</strong>, aumenta a eficiência em corridas realizadas principalmente por atletas e 
        melhora a capacidade física para prática dos demais esportes, além de produzir um 
        bem estar geral.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadeira Flexora</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/cadeira_flexora.gif"></ion-img>
      <p>
        você consegue fortalecer regiões que, muitas vezes, não são trabalhadas em outros 
        exercícios. Dessa maneira, ela traz mais <strong>equilíbrio muscular</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Coice</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/coice.gif"></ion-img>
      <p>
        E entre os exercícios que as praticantes de musculação mais fazem para <strong>fortalecer 
        os glúteos</strong> está o quatro apoios (ou coice) —em que ficam com os braços e os 
        joelhos apoiados no solo (ou na máquina) e erguem um dos pés.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Elevação Quadril</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/elevação_de_quadril.gif"></ion-img>
      <p>
        A elevação de quadril fortalece a <strong>região glútea</strong>, o assoalho pélvico, e promove 
      <strong>estabilidade na articulação do quadril</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Elevação dos Gemeos</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/elevação_gêmeos.gif"></ion-img>
      <p>
        <strong>Trabalha as panturrilhas</strong>, esse treino consiste em se posicionar sobre um step ou 
        degrau de escada na ponta dos pés e fazer o movimento de descer e subir.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Extensora</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/extensora.gif"></ion-img>
      <p>
        Acadeira extensora pode ser executada por alunos iniciantes e avançados e recruta 
        isoladamente os <strong>músculos do quadríceps</strong> 
        (parte da frente da coxa). Esse trabalho mais focado é importante para o 
        <strong>ganho de força e hipertrofia</strong> da região.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Leg press</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/leg_press.gif"></ion-img>
      <p>
        <strong>Quadríceps, posteriores e glúteo</strong> com o foco principal sendo sempre o 
        <strong>quadríceps</strong>. Porém a versão 90 graus, também conhecida como leg press horizontal, 
        tende a recrutar mais os <strong>músculos posteriores e glúteo</strong> do que a versão 45 graus.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Stiff</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Pernas/stiff.gif"></ion-img>
      <p>
        O stiff é uma ótima opção de exercício para quem quer trabalhar <strong>glúteos e pernas</strong>. 
        Além disso, também ajuda a fortalecer os músculos da parte <strong>posterior do tronco</strong>, 
        que são responsáveis por mantê-lo reto e os <strong>músculos isquiotibiais</strong>.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>
<ion-button expand="block" color="primary" href="/midia">Voltar</ion-button>