<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Perna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perna - Agachamento </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/img/agacha.gif"></ion-img>
      <p>
        Um dos benefícios do agachamento tem a ver, obviamente, 
        com fortalecimento: é um exercício incrivelmente eficaz 
        para tonificar glúteos, coxas e até panturrilhas
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
