<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Perna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>O que é CorrectAcademy? </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>
        CorrectAcademy é um APP desenvolvido para pessoas que frenquentam academia, os usuários podem
        ser alunos ou professores com o intuito terem acesso ao conteúdo rapidamente e de forma simples.
        Nosso conteúdo é totalmente didatico faciltando o entendimento e proporcionando um melhor resultado.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
