<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Costas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cavalo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/cavalo.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crucifixo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/crucifixo.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fly Inverso</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/fly_inverso.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Levantamento Terra</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/levantamento_terra.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prancha</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/prancha.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Puxada Frontal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/puxada_frontal.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Remada Curvada</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/remada_curvada.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serrote</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/serrote.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Voador Dorsal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/voador_dorsal.gif"></ion-img>
      <p>
        O ideal é fazer o exercício de lado para o espelho. Quando o exercício está 
        sendo feito corretamente, deve-se sentir os <strong>músculos abdominais e das coxas</strong> 
        trabalhando
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>