<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Costas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cavalo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/cavalo.gif"></ion-img>
      <p>
        Recrutamento de praticamente <strong>todos músculos das costas</strong>, contudo seu foco é 
        ligeiramente maior no meio das costas – trapézio medial, inferior e superior.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crucifixo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/crucifixo.gif"></ion-img>
      <p>
        O crucifixo é uma boa opção para quem busca hipertrofia ou uma maior definição do 
        peito. Isso porque os movimentos de adução e abdução dos ombros (abrir e fechar) 
        propostos pelo exercício têm um efeito bastante focado no principal músculo da região, 
        o peitoral maior, contribuindo para um resultado ainda melhor
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fly Inverso</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/fly_inverso.gif"></ion-img>
      <p>
        Os músculos trabalhados no fly inverso são os do pescoço até o meio das costas, 
        chamados de romboide, deltoide posterior e trapézio inferior
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Levantamento Terra</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/levantamento_terra.gif"></ion-img>
      <p>
        O levantamento terra além de trabalhar os músculos em volta da coluna, lateral das 
        costas e região lombar, também ativa os músculos da parte de trás da coxa e glúteos e 
        abdômen, sendo considerado um exercício completo e interessante para quem busca a hipertrofia
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prancha</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/prancha.gif"></ion-img>
      <p>
        A prancha pode ter várias formas de se fazer, porém a mais comum é feita de barriga 
        para baixo, se apoiando nos cotovelos e nos pés, o músculo trabalhado neste exercício 
        é o trapézio completo, que começa no pescoço e vai até o meio das costas.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Puxada Frontal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/puxada_frontal.gif"></ion-img>
      <p>
        Para que o movimento seja feito corretamente, o tronco não deve fazer o movimento 
        de ir para frente e para trás, como um vai e vem, somente os braços devem se mexer. 
        Esse exercício trabalha principalmente o músculo meio das costas, chamado de grande dorsal.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Remada Curvada</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/remada_curvada.gif"></ion-img>
      <p>
        Iniciar o movimento flexionando os cotovelos, trazendo a barra em direção ao abdômen e depois 
        voltar à posição inicial controlando o movimento. Esse exercício é indicado para trabalhar os 
        músculos do meio e lateral das costas, chamados de, trapézio médio, infraespinhal e latíssimo do dorso.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serrote</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/serrote.gif"></ion-img>
      <p>
        A remada unilateral, puxada horizontal ou serrote é um exercício de treinamento com pesos que 
        trabalha os músculos das costas e braço.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
  <!--Card treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Voador Dorsal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="./assets/Treino/Costas/voador_dorsal.gif"></ion-img>
      <p>
        O Voador (flexão-adução horizontal de ombros com aparelho específico) consiste em uma máquina 
        especial com suporte para segurar as mãos dos dois lados, de modo que o exercício consiste no 
        movimento de abre e fecha repetidas vezes, ajustando o peso de acordo com a força que o usuário irá fazer.
      </p>
    </ion-card-content>
  </ion-card>
  <!--Card treino -->
</ion-content>

<ion-button expand="block" color="medium" href="/midia">Treinos</ion-button>