ion-button[color="dark"]{
    text-transform: initial;
}

ion-content{
  --background: var(--ion-color-dark-shade);
}
ion-img{
  position: relative;
  margin-left: 42px;
  height: 120px;
  width: 120px;
  padding-top: 15px;
  background-color: var(--ion-color-medium);
  border-radius: 50%;
}