<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t.jpg"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t1.jpg"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t2.jpg"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t3.jpg"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t4.jpg"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/t5.jpg"></ion-img>
    </ion-card>
    </ion-slide>
  </ion-slides>
  <div>
  <ion-title class="ion-text-center">Escolha seu Treino</ion-title>
    <section>
      <ion-button href="/perna"  color="danger" expand="block">Treino de Perna</ion-button>
      <ion-button href="/costas"  color="success" expand="block">Treino de costas</ion-button>
      <ion-button href="/peito"  color="primary" expand="block">Treino de peito</ion-button>
      <ion-button href="/aerobico"  color="medium" expand="block">Treino de aerobico</ion-button>
    </section>
  </div>
</ion-content>


