<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide.avif"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide2.avif"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide3.avif"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide4.png"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide5.png"></ion-img>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
      <ion-img src="./assets/img/slide/slide6.png"></ion-img>
    </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title class="ion-text-center">Treinos sugestivos</ion-title>
</ion-content>

<ion-button href="/midia"  color="medium" expand="block">Treinos</ion-button>
